:root {
    --background-color: var(--black);

    --black: rgb(0, 0, 0);
    --red: rgb(170, 0 , 0);
    --green: rgb(0, 170, 0);
    --yellow: rgb(170, 85, 0);
    --blue: rgb(0, 0, 170);
    --magenta: rgb(170, 0, 170);
    --cyan: rgb(0, 170, 170);
    --white: rgb(170, 170, 170);

    --hi-black: rgb(85, 85, 85);
    --hi-red: rgb(255, 85 , 85);
    --hi-green: rgb(85, 255, 85);
    --hi-yellow: rgb(255, 255, 85);
    --hi-blue: rgb(85, 85, 255);
    --hi-magenta: rgb(255, 85, 255);
    --hi-cyan: rgb(85, 255, 255);
    --hi-white: rgb(255, 255, 255);
}
.fgRed {
    color: var(--red);
}
.hlWhite {
    color: var(--background-color);
    background-color: var(--white);
}

@font-face {
    font-family: 'Terminus';
    src: url("font/Terminus.ttf");
}
@font-face {
    font-family: 'TerminusBold';
    src: url("font/TerminusBold.ttf");
}

a {
    color: var(--blue);
}
a.button {
    color: inherit;
    text-decoration: none;
}
a.button:hover {
    text-decoration: underline;
    text-decoration-color: var(--white);
}
time {
    color: var(--gray);
}
fieldset {
    border: 2px solid var(--white);
}
h6 {
    margin: 0;
}
strong {
    font-family: 'TerminusBold', monospace !important;
    font-weight: bold !important;
}
code {
    text-align: left;
}
inline {
    display: flex;
}

html {
    font-family: 'Terminus', monospace;
    background-color: black;
    color: var(--white);
}
body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div {
    flex: 1;
    display: flex;
    justify-content: center;
}
.blinking {
    animation: blinking-animation 2s steps(1) infinite;
}
@keyframes blinking-animation {
	50% {
		opacity: 0;
	}
}



footer {
    position: sticky;
    top: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.mainContent {
    margin: auto;
    justify-content: center;
    max-width: 50%;
    word-wrap: break-word;
}
.mainContent .title {
    text-align: center;
}
.no-select {
	user-select: none;
}

fieldset.scatter {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    width: 0;
}
fieldset.scatter svg {
    padding: 20px;
    border: 2px solid var(--white);
    border-top: none;
    border-right: none;
}
fieldset.scatter svg circle {
    fill: var(--white);
    stroke-width: 0;
}
fieldset.scatter svg text {
    fill: var(--white);
    text-anchor: left;
}
fieldset.scatter .yHeader {
    margin: auto;
    writing-mode: vertical-rl;
}
fieldset.scatter .origin {
    margin: auto;
}
fieldset.scatter .xHeader {
    margin: auto;
}