:root {
    --fgWhite: #aaaaaa;
    --fgRed: #ff5555;
    --fgBlue: #0000aa;
    --fgGray: #555555;
}
.fgRed {
    color: var(--fgRed);
}

@font-face {
    font-family: 'Terminus';
    src: url("font/Terminus.ttf");
}

a {
    color: var(--fgBlue);
}
a.button {
    color: inherit;
    text-decoration: none;
}
a.button:hover {
    text-decoration: underline;
    text-decoration-color: var(--fgWhite);
}
time {
    color: var(--fgGray);
}

html {
    font-family: 'Terminus', monospace;
    background-color: black;
    color: var(--fgWhite);
}
body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header div {
    flex: 1;
    display: flex;
    justify-content: center;
}

footer {
    position: sticky;
    top: 100vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer div {
    flex: 1;
    display: flex;
    justify-content: center;
}

.mainContent {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.mainContent div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.mainContent span.grow {
    flex-grow: 1;
}